<h1>
  Editing bracket
</h1>

<div class="wide box">
  <%= form_for(@bracket) do |f| %>
    <div id="error_explanation">
      <ul>
        <% @bracket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

    <p>
      <%= f.label :slots %><br />
      <%= f.text_field :slots %>
    </p>

    <%= render :partial => "bracket", :locals => {:bracket => @bracket} %>

    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>

<%= link_to 'Back', edit_contest_path(@bracket.contest) %>
