<h1 class="title">Editing Bracket</h1>

<div class="wide box">
  <%= form_for(@bracket) do |f| %>
    <%= render 'shared/errors', messages: @bracket.errors.full_messages %>

    <div class="fields">
      <%= f.label :slots %>
      <%= f.text_field :slots %>
    </div>

    <%= render partial: "bracket", locals: { bracket: @bracket } %>

    <div class="controls">
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>
