<h5><%= namelink message %></h5>

<p class="preview">
  <%= sanitize message.text[0, 100] %>...  
</p>

<p>
  To: <%= namelink message.recipient %> From: <%= namelink message.sender %> on <em><%= longdate message.created_at %></em></em>
</p>