<div id="messages">
  <h1>New Message</h1>

  <%= form_for(@message, html: { class: 'square' }) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :recipient_id %>
    <%= f.hidden_field :recipient_type %>

    <div class="fields horizontal">
      <%= f.label :sender %>
      <%= f.select :sender_raw, cuser.to_s, {:include_blank => cuser.to_s} %>
    </div>
    <div class="fields horizontal">
      <%= f.label :recipient %>
      <%= text_field_tag :asdf, @message.recipient, :disabled => true %>
    </div>
    <div class="fields horizontal">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="fields horizontal">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div class="controls">
      <%= f.submit 'Send Message' %>
    </div>
  <% end %>
</div>
