<table id="members" class="<%= 'short' if !comment %> striped">
  <tr>
    <th class="country"></th>
    <th class="member">Member</th>
    <th class="steamid">SteamID</th>
    <th class="rank">Rank</th>
    <% if comment %>
      <th class="note">Comment</th>
    <% end %>
    <th class="joined">Joined</th>
  </tr>
  <% teamers.each do |member| %>
    <% next if blacklist and blacklist.exists? user_id: member.user_id %>
    <% next if member.user.nil? %>
    <tr>
      <td><%= flag member.user.country %></td>
      <td><%= namelink member.user %></td>
      <td><%=h member.user.steamid %></td>
      <% if member.rank == Teamer::RANK_REMOVED %>
        <td>Ex-Member</td>
      <% else %>
        <td><%= member.ranks[member.rank] %></td>
      <% end %>
      <% if comment %>
        <td><%=h member.comment %></td>
      <% end %>
      <td class="joined"><%= shortdate member.created_at %></td>
    </tr>
  <% end %>
</table>
