<div id="reply" class="comment-form">
  <h5>New Comment</h5>

  <% if cuser %>
    <%= form_for(@comment, remote: true) do |f| %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <div class="fields">
        <%= f.text_area :text, rows: 5 %>
      </div>
      <div class="controls">
        <%= f.submit 'Post Comment' %>
      </div>
    <% end %>
  <% else %>
    Please log in or <%= link_to "register", new_user_path %> to post comments.
  <% end %>
</div>
