<div class="commentNew center centered">
  <h3>
    New comment
  </h3>

  <% if cuser %>
    <%= form_for(@comment, :remote => true) do |f| %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <p>
        <%= f.text_area :text, :rows => 5, :cols => 40, :id => "textArea" %>
      </p>
      <p>
        <%= f.submit 'Post Comment' %>
      </p>
    <% end %>
  <% else %>
    Please log in or <%= link_to "register", new_user_path %> to post comments.
  <% end %>
</div>
