<h1 class="title"><%= cuser ? "New Issue" : "Contact" %></h1>
<p>In case the contact form does not work write us on Steam (add the people from <%= link_to 'here', about_staff_path %>)</p>
<p>You can also reach us on our <%= link_to 'Official NSL Discord', 'https://discord.gg/tHte2pS', target: '_blank' %> or on the <%= link_to 'forums', forums_path %></p>

<p>Please do not forget to include contact details, such as an email address or a Steam account in the case that you do not have an ENSL account.</p>

<%= render partial: "form" %>
