<div class="article-links">
  <% if article.previous_article %>
    <div class="previous">
      <%= link_to article.previous_article do %>
        <%= icon 'fas', 'arrow-left' %>
        <%= article.previous_article %>
      <% end %>
    </div>
  <% end %>
  <% if article.next_article %>
    <div class="next">
      <%= link_to article.next_article do %>
        <%= article.next_article %>
        <%= icon 'fas', 'arrow-right' %>
      <% end %>
    </div>
  <% end %>
</div>