<div class="wide box sub">
  <table id="movie_user">
    <tr>
      <td>
        <br />&nbsp;<br />
        <% if movie_user.picture %>
          <%= image_tag movie_user.picture.url, :class => "centered" %>
        <% end %>
      </td>

      <td>
        <h3 class="center">
          <%= namelink movie_user %>
        </h3>

        <%= cascade movie_user, ["content", "format", ["Author", :user], "length_s", ["Views", "view_count"], ["Date", "file.created_at"]] %>

        <% (params[:action] == "show" ? movie_user.all_files : [movie_user.file]).each do |file| %>
          <p>
            <b>File: </b> <%= link_to File.basename(file.name.to_s), file.url %>
        </p>
      <% end %>

      <% if cuser and movie_user.can_update? cuser %>
        <p>
          <%= link_to 'Edit', edit_movie_path(movie_user) %> |
          <%= link_to 'Make a Preview', :action => "preview", :id => movie_user %> |
          <%= link_to 'Destroy', movie_user, :confirm => 'Are you sure?', :method => :delete %>
        </p>
      <% end %>
    </td>
  </tr>
</table>
<div class="clear">
</div>
</div>
