<div class="contester">
  <h1>Editing: <%= h @contester.team.name %></h1>
  <h3 class="title"><%= h @contester.contest.name %></h3>

  <%= form_for @contester, html: { class: 'square' } do |f| %>
    <%= render 'shared/errors', messages: @contester.errors.full_messages %>

    <% if @contester.contest.contest_type == Contest::TYPE_LADDER %>
        <div class="fields horizontal">
          <%= f.label :rank %>
          <%= f.text_field :score %>
        </div>
    <% else %>
        <div class="fields horizontal">
          <%= f.label :extra, "Extra Points" %>
          <%= f.text_field :extra %>
        </div>
        <div class="fields horizontal">
          <%= f.label :score %>
          <%= f.text_field :score %>
        </div>
    <% end %>
    <div class="fields horizontal">
      <%= f.label :win %>
      <%= f.text_field :win %>
    </div>
    <div class="fields horizontal">
      <%= f.label :loss %>
      <%= f.text_field :loss %>
    </div>
    <div class="fields horizontal">
      <%= f.label :draw %>
      <%= f.text_field :draw %>
    </div>
    <div class="controls">
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>
