<h1>New topic</h1>

<%= form_for @topic, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :forum_id %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 50 %>
  </p>

  <p>
    <%= f.text_area :first_post, :rows => 15, :cols => 108 %>
  </p>

  <p>
    <%= f.submit 'Create the topic' %>
  </p>
<% end %>

<%= link_to 'Back', @topic.forum %>