<h1>New Topic</h1>

<%= form_for @topic, html: { multipart: true, class: 'square' } do |f| %>
  <%= render 'shared/errors', messages: @topic.errors.full_messages %>

  <%= f.hidden_field :forum_id %>

  <div class="fields horizontal">
    <%= f.label :forum %>
    <div class="inputs">
      <%= @topic.forum %>
    </div>
  </div>

  <div class="fields horizontal">
    <%= f.label :title %>
    <%= f.text_field :title, size: 50 %>
  </div>

  <div class="fields horizontal">
    <%= f.label :post %>
    <%= f.text_area :first_post, rows: 15 %>
  </div>

  <div class="controls">
    <%= f.submit 'Create Topic' %>
  </div>
<% end %>
