<h1>Listing maps</h1>

<table class="striped">
  <tr>
    <th>Name</th>
    <th>Download</th>
    <th>Options</th>
  </tr>

  <% @maps.each do |map| %>
    <tr>
      <td><%= namelink map %></td>
      <td><%= h map.download %></td>
      <td>
        <%= link_to icon('pencil'), edit_map_path(map) %>
        <%= link_to icon('times'), map, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Map', new_map_path, class: 'button' %>
