<%= form_for @server, html: { class: 'server square' } do |f| %>
  <%= f.error_messages %>

  <div class="fields horizontal">
    <%= f.label :dns %>
    <%= f.text_field :dns %>
  </div>
  <div class="fields horizontal">
    <%= f.label :ip, "IP:Port" %>
    <div class="inputs">
      <div class="ip">
        <%= f.text_field :ip %>
      </div>
      <div class="port">
        <%= f.text_field :port %>
      </div>      
    </div>
  </div>
  <div class="fields horizontal">
    <%= f.label :rcon %>
    <%= f.text_field :rcon %>
  </div>
  <div class="fields horizontal">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="fields horizontal">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields horizontal">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="fields horizontal">
    <%= f.label :irc %>
    <%= f.text_field :irc %>
  </div>
  <div class="fields horizontal">
    <%= f.label :domain %>
    <%= f.select :domain, @server.domains.invert %>
  </div>
  <div class="fields horizontal">
    <%= f.label :official, "Available for officials?" %>
    <%= f.check_box :official %>
    <%= f.label :official, class: 'checkbox' %>
  </div>

  <div class="controls">
    <%= f.submit 'Save' %>
  </div>
<% end %>
