<div class="server">
  <h3><%= namelink server %></h3>

  <p>
    <strong>IP:</strong>
    <%= h server.ip %>:<%= h server.port %>
  </p>

  <%= cascade server, ["dns", "password"] %>

  <%= link_to "Click to Connect", "steam://run/4920//connect #{server.ip} #{server.password}", class: 'connect button tiny' %>
</div>
