<h1>
  RCON: <%= h @server %>
</h1>

<%= image_tag "icons/spinner.gif",
  :align => "absmiddle",
  :id => "spinner",
  :style =>"display: none;" %>

<div class="wide box" id="serverLog">
  <%= render :partial => "response" %>
</div>

<% form_remote_tag :update => 'serverLog',
  :before => "Element.show('spinner')",
  :success => "Element.hide('spinner'); $('serverLog').scrollTop = $('serverLog').scrollHeight;" do %>
  <%= label_tag :query, "Rcon Command:" %>
  <%= text_field_tag "query", params['query'], :size => 30 %>
<% end %>
