<h1>
  Server: <%= h @server.name %>
</h1>

<div class="big2 left center">

  <%= image_tag "servers/#{@server.id}.png", :width => 350, :height => 227, :class => "centered" %>
</div>

<div class="left">
  <% if @server.map %>
    <%= image_tag "maps/" + @server.map + ".gif", :width => 150, :height => 100, :class => "centered" %>
  <% end %>

  <h3 class="center">
    <%= h @server.name %><br />
  </h3>

  <p>
    <b>IP:</b>
    <%= link_to @server.addr, "steam://connect/#{@server.addr}" %>
  </p>

  <%= cascade @server, ["dns", "password", "irc", ["Owner", :user], "description"] %>
</div>

<div class="clear"></div>

<h3 class="center">
  Reservations
</h3>

<table class="data">
  <tr>
    <th>Teams</th>
    <th>Time</th>
  </tr>

  <% @server.matches.order("id DESC").limit(10).each do |match| %>
    <tr>
      <td><%= link_to match, match %></td>
      <td><%= longtime match.match_time %></td>
    </tr>
  <% end %>
</table>

<% if @server.can_update? cuser %>
  <%= link_to 'Edit', edit_server_path(@server) %> |
  <%= link_to 'Admin', :action => "admin", :id => @server %> |
  <% if @server.domain == Server::DOMAIN_HLTV %>
    <%= link_to 'Default Record', :action => "default", :id => @server %> |
  <% end %>
<% end %>

<%= link_to 'Back', servers_path %>
