<div id="group">
  <h1><%=h @group.name %></h1>
  <h3 class="title">Founder: <%=h @group.founder.username %></h3>

  <table class="striped">
    <tr>
      <th>Username</th>
      <th>Real Name</th>
      <th>SteamID</th>
    </tr>

    <% @group.users.each do |user| %>
      <tr>
        <td><%=link_to (h user.username), user %></td>
        <td><%=h user.firstname %> <%=h user.lastname %></td>
        <td><%=h user.steamid %></td>
      </tr>
    <% end %>
  </table>

  <% if cuser and cuser.admin? %>
    <%= link_to 'Edit Group', edit_group_path(@group), class: 'button' %>
  <% end %>
</div>
  