<div id="registration">
  <h1>Registration</h1>

  <%= link_to "You can use this tool to find your SteamID.", "/files/client/steamid_finder.exe" %>

  <%= form_for @user, html: { class: "square" } do |f| %>
    <%= render 'shared/errors', messages: @user.errors.full_messages %>

    <div class="fields">
      <div class="horizontal text-field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="horizontal text-field">
        <%= f.label :raw_password, "Password" %>
        <%= f.password_field :raw_password %>
      </div>
      <div class="horizontal text-field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="horizontal text-field">
        <%= f.label :steamid %>
        <%= f.text_field :steamid, placeholder: "0:1:23456789" %>
      </div>
      <div class="horizontal">
        <%= f.label :birthdate %>
        <%= date_select :user, :birthdate, order: [:year, :month, :day], start_year: 1950 %>
      </div>
    </div>
    <div class="controls submit-field">
      <%= f.submit "Register" %>  
    </div>
  <% end %>
</div>
