<table class="data">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>

  <% files.each do |file| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= namelink file %></td>
      <td><%= h file.url %></td>
      <td><%= file.size_s %></td>
      <td>
        <% if file.can_update? cuser %>
          <%= link_to 'Edit', edit_data_file_path(file) %>
          <% end; if file.can_destroy? cuser %>
          <%= link_to 'Destroy', file, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
