<table class="striped files-list">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>

  <% files.each do |file| %>
    <tr>
      <td><%= namelink file %></td>
      <td><%= h file.url %></td>
      <td><%= file.size_s %></td>
      <td>
        <% if file.can_update? cuser %>
          <%= link_to icon('pencil'), edit_data_file_path(file) %>
          <% end; if file.can_destroy? cuser %>
          <%= link_to icon('times'), file, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
