<h1 class="title">New File</h1>

<%= form_for @file, html: { multipart: true, class: 'square' } do |f| %>
  <%= render 'shared/errors', messages: @file.errors.full_messages %>

  <div class="fields horizontal">
    <%= f.label :name %>
    <%= f.file_field :name %>
  </div>

  <div class="fields horizontal">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="fields horizontal">
    <%= f.label :directory_id %>
    <%= f.select :directory_id, Directory.all.collect{|c| ["#{c.path} - #{c.name}", c.id]} %>
  </div>

  <div class="controls">
    <%= f.submit 'Create File' %>
  </div>
<% end %>
