<%= form_for @ban, html: { class: 'square' } do |f| %>
  <%= render 'shared/errors', messages: @ban.errors.full_messages %>

  <div class="fields horizontal">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, { value: @ban.user.to_s } %>
  </div>
  <div class="fields horizontal">
    <%= f.label :ban_type %>
    <%= f.select :ban_type, @ban.types.invert %>
  </div>
  <div class="fields horizontal">
    <%= f.label :steamid %>
    <%= f.text_field :steamid %>
  </div>
  <div class="fields horizontal">
    <%= f.label :expiry %>
    <%= f.datetime_select :expiry, datetime_separator: '', time_separator: '' %>
  </div>
  <div class="fields horizontal">
    <%= f.label :reason do %>
      Reason (<em>BB Code</em>)
    <% end %>
    <%= f.text_area :reason %>
  </div>
  <div class="controls">
    <%= f.submit 'Create' %>
  </div>
<% end %>
