<h1>Proposals</h1>
<%= link_to 'Back', match_path(@match), class: 'button' %>
<% if @match.match_proposals.empty? %>
<h4>There are no proposals yet</h4>
<% else %>
<table id="proposals" class="striped">
  <tr>
    <th>Team</th>
    <th>Time</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @match.match_proposals.each do |proposal| %>
    <tr class="<%=cycle('even', 'odd') %>">
      <td><%= proposal.team.name %></td>
      <td><%= longtime proposal.proposed_time %> </td>
      <td><%= proposal.status_strings[proposal.status] %></td>
      <td>test</td>
    </tr>
  <% end %>
</table>
<% end %>
<%= link_to 'Back', match_path(@match), class: 'button' %><%= link_to 'Propose match time', new_match_proposal_path(@match), class: 'button' %>