<h1>New Proposal</h1>
<%= form_for @proposal, html: { class: 'square' } do |f| %>
    <%= render 'shared/errors', messages: @proposal.errors.full_messages %>
    <div class="fields horizontal">
      <%= f.label :proposed_time %>
      <%= f.datetime_select :proposed_time, datetime_separator: '', time_separator: '', minute_step: 15 %>
    </div>
    <div class="controls">
      <%= f.submit 'Propose' %>
    </div>
<% end %>
