<%= form_tag({ controller: "users", action: "login" }, { class: 'dark' }) do %>
  <div class="fields">
    <div class="steam">
      <%= link_to "/auth/steam", method: :POST do %>
        <%= image_tag '/images/icons/steam_login.png' %>
      <% end %>
    </div>
    <%= text_field "login", "username", placeholder: "Username" %>
    <%= password_field "login", "password", placeholder: "Password" %>
  </div>
  <div class="buttons">
    <div class="login">
      <%= submit_tag t('helpers.submit.user.login') %>
    </div>
    <div class="register">
      <%= link_to t('helpers.submit.user.create'), new_user_path %>
      <%= link_to t('sessions.form.forgot_password'), "/users/forgot/1", class: "password-reset" %>  
    </div>
  </div>
<% end %>
