<ul>
  <% if cuser %>
    <%= t('login_status') %>: <%= namelink(cuser) %>
  <% end %>
  <li><%= link_to 'Profile', edit_user_path(cuser) %></li>
  <li><%= link_to 'Agenda', "/users/agenda/#{cuser.id}" %></li>
  <li>
    <%= link_to 'PMs', messages_path() %>
    <% if c = cuser.new_messages.count > 0 %>
      (<%= cuser.new_messages.count %>)
    <% end %>
  </li>
  <li>
    <%= form_tag(controller: "users", action: "logout") do %>
      <%= link_to_function "Logout", '$(this).closest("form").submit();' %>
    <% end %>
  </li>
</ul>
