<%= form_tag({ controller: "users", action: "login" }, { class: "square horizontal" }) do %>
  <%= text_field "login", "username" %>
  <%= password_field "login", "password" %>
  <%= submit_tag I18n.t('helpers.submit.user.login') %>
<% end %>

<%= link_to(new_user_path) do %>
  <button><%= I18n.t('helpers.submit.user.create') %></button>
<% end %>
<%= link_to I18n.t('sessions.form.forgot_password'), "/users/forgot/1" %>
