<%= form_for @post, html: { class: 'square' } do |f| %>
  <%= render 'shared/errors', messages: @post.errors.full_messages %>

  <%= f.hidden_field :topic_id %>
  <div class="square horizontal">
    <%= f.label :topic %>
    <div class="inputs">
      <%= namelink @post.topic %>  
    </div>
  </div>
  <div class="fields horizontal">
    <%= f.label :text %>
    <%= f.text_area :text, rows: 15 %>
  </div>
  <div class="controls">
    <%= f.submit 'Save Post' %>
  </div>
<% end %>
