<div class="wide box">
  <h2 class="center">
    General Information
  </h2>

  <p>

    We are a free-working organization founded in 2005 which has organized various competitions for the Half-Life mod Natural Selection.
    We now primarily focus on its successor, Natural Selection 2.
    To contact us:
    <ol>
      <li>Use the <%= link_to "contact", new_issue_path() %> form (you must be logged in)</li>
      <li>Visit our <%= link_to "IRC", article_path(408) %> channel <%= link_to "#ENSL", "irc://irc.quakenet.org/ensl" %> on Quakenet.</li>
      <li>Send email to the head admin as per the list below</li>
      <li>Contact other staff members directly, check below and click profile for contact details</li>
    </ol>
  </p>
  <p>
    You can check some statistics about ENSL here : <%= link_to "ENSL Statistics", :controller => "about", :action => "statistics" %> 
</p><br/>

<div id="staffTab">
  <ul id="staffTab-nav" class="tabs">
    <li><a href="#AdminsTab">Admins</a></li>
    <li><a href="#RefereesTab">Referees</a></li>
    <li><a href="#ShoutcastersTab">Shoutcasters</a></li>
    <li><a href="#ExtrasTab">Extras</a></li>
    <li><a href="#SupportTab">Support</a></li>
  </ul>
  <div class="box wide tabs">
    <div class="tab" id="AdminsTab">
      <h3 class="center">Admins</h3>
      <table class="data">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.admins.each do |grouper| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= flag grouper.user.country %></td>
            <td><%= namelink grouper.user %></td>
            <td><%= h grouper.user.email_s %></td>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="RefereesTab">
      <h3 class="center">Referees</h3>
      <table class="data">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.referees.each do |grouper| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= flag grouper.user.country %></td>
            <td><%= namelink grouper.user %></td>
            <td><%= h grouper.user.email_s %></td>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="ShoutcastersTab">
      <h3 class="center">Shoutcasters</h3>
      <table class="data">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.shoutcasters.each do |grouper| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= flag grouper.user.country %></td>
            <td><%= namelink grouper.user %></td>
            <td><%= h grouper.user.email_s %></td>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="ExtrasTab">
      <h3 class="center">Extras</h3>
      <table class="data">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.extras.each do |grouper| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= flag grouper.user.country %></td>
            <td><%= namelink grouper.user %></td>
            <td><%= h grouper.user.email_s %></td>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="SupportTab">
      <h3 class="center">Support<h3>
          <ul>
            <li><b><a href="http://unknownworlds.com/">Unknown Worlds Entertainment</a></b></li>
            <ul>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          var tabber1 = new Yetii({id: 'staffTab'});
          </script>

        </div>
