<h1>General Information</h1>
<p>
  We are a free-working organization founded in 2005 which has organized various competitions for the Half-Life mod Natural Selection.
  We now primarily focus on its successor, Natural Selection 2.
</p>
<p>To contact us:</p>
<p>
  <ol>
    <li>Use the <%= link_to "contact", new_issue_path %> form (you must be logged in)</li>
    <li>Visit our <%= link_to "IRC", article_path(408) %> channel <%= link_to "#ENSL", "irc://irc.quakenet.org/ensl" %> on Quakenet.</li>
    <li>Send email to the head admin as per the list below</li>
    <li>Contact other staff members directly, check below and click profile for contact details</li>
  </ol>
</p>
<p>
  You can check some statistics about the ENSL here: <%= link_to "ENSL Statistics", controller: "about", action: "statistics" %> 
</p>

<div id="staff" class="tabbed">
  <ul id="staff-nav" class="tabs">
    <li><a href="#admins">Admins</a></li>
    <li><a href="#referees">Referees</a></li>
    <li><a href="#casters">Casters</a></li>
    <li><a href="#gathermods">Gather Mods</a></li>
    <li><a href="#compmodcouncil">Comp. Mod Council</a></li>
    <li><a href="#extras">Extras</a></li>
    <li><a href="#support">Support</a></li>
  </ul>
  <div class="tabbed-contents">
    <div class="tab" id="admins">
      <h3>Admins</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.admins.each do |grouper| %>
          <tr>
            <td class="country"><%= flag grouper.user.country %></td>
            <td class="username"><%= namelink grouper.user %></td>
            <% if grouper.user.public_email %>
            <td><%= h grouper.user.email_s %></td>
            <% else %>
            <td></td>
            <% end %>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td class="age"><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="referees">
      <h3>Referees</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.referees.each do |grouper| %>
          <tr>
            <td class="country"><%= flag grouper.user.country %></td>
            <td class="username"><%= namelink grouper.user %></td>
            <% if grouper.user.public_email %>
                <td><%= h grouper.user.email_s %></td>
            <% else %>
                <td></td>
            <% end %>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td class="age"><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="casters">
      <h3>CASTERS</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.casters.each do |grouper| %>
          <tr>
            <td class="country"><%= flag grouper.user.country %></td>
            <td class="username"><%= namelink grouper.user %></td>
            <% if grouper.user.public_email %>
                <td><%= h grouper.user.email_s %></td>
            <% else %>
                <td></td>
            <% end %>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td class="age"><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="gathermods">
      <h3>GATHER MODERATORS</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.gathermods.each do |grouper| %>
            <tr>
              <td class="country"><%= flag grouper.user.country %></td>
              <td class="username"><%= namelink grouper.user %></td>
              <% if grouper.user.public_email %>
                  <td><%= h grouper.user.email_s %></td>
              <% else %>
                  <td></td>
              <% end %>
              <td>
                <% if grouper.task %>
                    <%= h grouper.task %>
                <% else %>
                    <%= h grouper.group.name.singularize %>
                <% end %>
              </td>
              <td class="age"><%= h grouper.user.age %></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="compmodcouncil">
      <h3>COMP. MOD COUNCIL</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.compmodcouncil.each do |grouper| %>
            <tr>
              <td class="country"><%= flag grouper.user.country %></td>
              <td class="username"><%= namelink grouper.user %></td>
              <% if grouper.user.public_email %>
                  <td><%= h grouper.user.email_s %></td>
              <% else %>
                  <td></td>
              <% end %>
              <td>
                <% if grouper.task %>
                    <%= h grouper.task %>
                <% else %>
                    <%= h grouper.group.name.singularize %>
                <% end %>
              </td>
              <td class="age"><%= h grouper.user.age %></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="extras">
      <h3>Extras</h3>
      <table class="striped staff">
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Task</th>
          <th>Age</th>
        </tr>
        <% Group.extras.each do |grouper| %>
          <tr>
            <td class="country"><%= flag grouper.user.country %></td>
            <td class="username"><%= namelink grouper.user %></td>
            <% if grouper.user.public_email %>
                <td><%= h grouper.user.email_s %></td>
            <% else %>
                <td></td>
            <% end %>
            <td>
              <% if grouper.task %>
                <%= h grouper.task %>
              <% else %>
                <%= h grouper.group.name.singularize %>
              <% end %>
            </td>
            <td class="age"><%= h grouper.user.age %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab" id="support">
      <h3>Support</h3>
      <ul>
        <li><b><a href="http://unknownworlds.com/">Unknown Worlds Entertainment</a></b></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  new Yetii({
    id: 'staff'
  });
</script>
