<h1>New Category</h1>

<%= form_for(@category, html: { class: 'square' }) do |f| %>
  <%= render 'shared/errors', messages: @category.errors.full_messages %>

  <div class="fields horizontal">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields horizontal">
    <%= f.label :domain %>
    <%= f.select :domain, @category.domains.invert %>
  </div>
  
  <div class="controls">
    <%= f.submit 'Create Category' %>
  </div>
<% end %>
