<header>
  <div class="banner <%= 'authenticated' if cuser %>">
    <div class="wrapper">
      <div id="logo">
        <%= link_to image_tag('logo.png'), root_path %>
      </div>
      <div id="authentication" class="<%= 'admin' if cuser && cuser.admin? %>">
        <% if cuser %>
          <%= render partial: "widgets/logged" %>
        <% else %>
          <%= render partial: "widgets/login" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
