<nav id="menu">
  <div class="wrapper">
    <div id="logo">
      <%= link_to image_tag("themes/#{active_theme}/logo.png"), root_path %>
    </div>
    <ul class="navigation">
      <li class="dropdown icon">
        <%= active_link_to root_path, active: ["articles", "news_index"], class: 'news' do %>
          News
        <% end %>
        <ul>
          <li><%= link_to "Twitter", "https://twitter.com/nslnews" %></li>
          <li><%= link_to "Steam", "http://steamcommunity.com/groups/nsleagues" %></li>
        </ul>
      </li>
      <li class="dropdown icon">
        <%= active_link_to({ controller: "contests", action: "current" }, class: 'contests') do %>
          Contests
        <% end %>
        <ul>
          <li><%= link_to "Rules", "/rules" %></li>
          <li><%= link_to "Compmod Changes", "/compmod" %></li>
          <li><%= link_to "Historical", "/contests" %></li>
          <li><%= link_to "NS1 History", "/contests/historical/NS1" %></li>
          <li><%= link_to "NS2 History", "/contests/historical/NS2" %></li>
        </ul>
      </li>
      <li class="dropdown">
        <%= link_to gathers_url, class: 'gathers', target: "_blank" do %>
          Gathers 
          <span class="count" id="gathercount"></span>
        <% end %>
        <ul>
          <li><%= link_to "Introduction", article_url(464) %></li>
          <li><%= link_to "Archives", "/gathers/" %></li>
          <li>
            <%= link_to "/gathers/latest/ns1", class: 'gathers' do %>
              NS1 Gather
              <span class="count"><%= Gather.player_count_for_game('NS1') %>/<%= Gather::FULL %></span>
            <% end %>
          </li>
          <li>
            <%= link_to "/gathers/latest/ns2", class: 'gathers' do %>
              NS2 Backup
              <span class="count"><%= Gather.player_count_for_game('NS2') %>/<%= Gather::FULL %></span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="dropdown icon">
        <%= active_link_to articles_path, class: 'articles' do %>
          Articles
        <% end %>
        <ul>
          <li><%= link_to "Hall of Fame", '/halloffame' %></li>
          <li><%= link_to "History", article_url(Article::HISTORY) %></li>
          <li><%= link_to "Movies", movies_url %></li>
          <li><%= link_to "Files", directory_url(Directory::ROOT) %></li>
        </ul>
      </li>
      <li class="dropdown icon">
        <%= active_link_to forums_path, active: [["forums", "topics"]], class: 'forums' do %>
          Forums
        <% end %>
        <ul>
          <li><%= link_to "Index", forums_path %></li>
          <li><%= link_to "Rules", "/topics/640" %></li>
        </ul>
      </li>
      <li class="icon">
        <%= active_link_to('/tutorials', class: 'tutorials') do %>
          Tutorials
        <% end %>
      </li>
      <li class="dropdown icon">
        <a href="#" class="league">League</a>
        <ul>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
          <li><%= link_to "Staff", about_staff_path %></li>
          <li><%= link_to "Bans", bans_url %></li>
          <li><%= link_to "Contact", new_issue_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<script>
$((function gather () {
    $.ajax({
      datatype: "json",
      url: "<%= gathers_url %>/gathers/current", 
      success: function (data) {
        $("#gathercount").html(data.gatherers.length + "/12");
      },
      complete: function() {
      	setTimeout(gather, 10000);
      }
    });
  })());
</script>
