<div class="gather-columns">
  <div class="data players">
    <div class="contents">
      <h4>Signed Up</h4>


      <ul id="gatherers">
        <% @gather.gatherers.each do |gatherer| %>
          <li<% if gatherer.status > 0 %> class="away"<% end %>>
            <%= flag gatherer.user.country %>
            <%= namelink gatherer.user %>
            <% if cuser and gatherer.can_destroy?(cuser) %>
              <%= link_to gatherer, method: :delete, class: 'delete' do %>
                <%= icon 'fas', 'times' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>  
    </div>
  </div>

  <%= render partial: 'votes' %>
</div>

<%= render partial: 'status' %>
  