<div id="indexBanner">
  <div id="indexLinks">
  <% if cuser %>
    <span>Logged in as: <%= namelink cuser %></span> |
  <% end %>
  <% if cuser and cuser.admin? %>
    <%= link_to "/about/adminpanel", :style => "color: #CC0000" do %>
      Admin (<%= Issue.with_status(0).count  %>) 
    <% end %> |
  <% end %>
  <%= link_to "NS1 Gather", "/gathers/latest/ns1" %> <span class="gather"> (<%= Gather.player_count_for_game('NS1') %>) </span> |
  <%= link_to "NS2 Gather", "/gathers/latest/ns2" %> <span class="gather"> (<%= Gather.player_count_for_game('NS2') %>) </span> |
  <%= link_to "News", :controller => "articles", :action => "news_index" %> |
  <%= link_to "Staff", :controller => "about", :action => "staff" %> |
  <%= link_to "History", article_url(Article::HISTORY) %> |
  <%= link_to "Users", :controller => "users", :action => :index %> |
  <%= link_to "Teams", :controller => "teams", :action => :index %> |
  <%= link_to "Rules", article_url(Article::RULES) %> |
  <%= link_to "Hall of Fame", article_url(Article::HOF) %> |
  <%= link_to "Bans", bans_url() %> |
  <%= link_to "Contact", new_issue_path() %>
</div>

<div id="indexLogin">
  <% if cuser %>
    <%= render :partial => "widgets/logged" %>
  <% else %>
    <%= render :partial => "widgets/login" %>
  <% end  %>
</div>

<div id="indexMenu">
  <%= link_to contests_url do %>
    <div class="contests">
    </div>
  <% end %>
  <%= link_to Gather.last do %>
    <div class="gather">
    </div>
  <% end %>
  <%= link_to "/" do %>
    <div class="material">
    </div>
  <% end %>
  <%= link_to forums_url do %>
    <div class="forums">
    </div>
  <% end %>
</div>

<div id="indexItems">
  <div class="contests">
    <p>
      <%= link_to "Current", "/contests/current" %>
    </p>
    <p>
      <%= link_to "NS2 History", "/contests/historical/NS2" %>
    </p>
    <p>
      <%= link_to "NS1 History", "/contests/historical/NS1" %>
    </p>
  </div>
  <div class="gather">
    <p>
      <%= link_to "Read first! ", article_url(464) %>
    </p>
    <p>
      <%#= link_to "NS1 Gathers", "/gathers/latest/44" %>
      <%= link_to "Archives", "/gathers/" %>
    </p>
    <p>
      <%= link_to "NS2 Gathers", "/gathers/latest/45" %>
    </p>
  </div>
  <div class="material">
    <p>
      <%= link_to "Articles", articles_url %>
    </p>
    <p>
      <%= link_to "NS Movies", movies_url() %>
    </p>
    <p>
      <%= link_to "Files ", directory_url(Directory::ROOT) %>
    </p>
  </div>
  <div class="forums">
    <p>
      <%= link_to "Index", forums_url() %>
    </p>
    <p>
      <%= link_to "Rules", "/topics/12" %>
    </p>
  </div>
</div>
</div>
